<!-- Add Classification -->
<h1>
    <%= title %>
</h1>
<p><%- message %></p>


<form action="/inv/management/add-classification" method="post" class="classification_forms">

    <label for="classification">
        Classification Name:
        <input type="text" id="classification" name="classification_name" required
            placeholder="Enter classification name" pattern="^[A-Za-z0-9 ]{1,50}$"
            title="Only letters, numbers, and spaces are allowed. Max 50 characters." autocomplete="off">
    </label>

    <button type="submit">Add Classification</button>

    <a href="/inv/management">
        <button type="button">Back to Management</button>
    </a>

</form>